<div>
  <form>
    <h1>S'inscrire</h1>
    <p class="input_p">
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Prénom(s)</mat-label>
        <input type="text" placeholder="Prénom(s)" required matInput>
      </mat-form-field>
    </p>
    <p class="input_p">
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Nom(s)</mat-label>
        <input type="text" placeholder="Nom(s)" required matInput>
      </mat-form-field>
    </p>
    <p class="input_p">
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Adresse mail</mat-label>
        <input type="email" placeholder="Ex: adresse@gmail.com" required matInput>
      </mat-form-field>
    </p>
    <p class="input_p">
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Nom d'utilisateur</mat-label>
        <input placeholder="Nom d'utilisateur" type="text" required matInput>
      </mat-form-field>
    </p>
    <p class="input_p">
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Mot de passe</mat-label>
        <input placeholder="Mot de passe" type="password" required matInput>
      </mat-form-field>
    </p>
    <p class="input_p">
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Confirmation du mot de passe</mat-label>
        <mat-icon matSuffix></mat-icon>
        <input placeholder="Ecrivez de nouveau le mot de passe" type="password" required matInput>
      </mat-form-field>
    </p>
    <p class="button_p">
      <button mat-flat-button color="primary">Soumettre</button>
    </p>
  </form>
</div>
